body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: rgb(255, 255, 255);
}

.service-area {
    background-image: linear-gradient(to left, #6DD56F, #46C0BE, #6DD56F);
}

.slider-bg1 {
    background-image: url(../img/gallery/fitopatologia.jpg);
}

.slick-track .slider-bg1 {
	background-image: url(../img/gallery/arrieras.jpg);
}

.visit-tailor-area .tailor-offers {
	background-image: url(../img/gallery/macadamia.jpg);
	background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 990px;
	width: 55%;
}

.visit-tailor-area .tailor-details h2 {
	font-size: 33px;
	color: darksalmon;
	text-transform: capitalize;
}

.slider-area .hero__caption h1 {
	font-size: 100px;
	font-weight: 400;
	margin-bottom: 14px;
	color: #fff;
	line-height: 1.1;
	text-transform: initial;
}

.section-tittle span {
	margin-bottom: 20px;
	display: block;
	color: #0b8b04;
	text-transform: inherit;
	font-size: 20px;
}

/* Imagenes de fondo para cabeceras */


.slider-area2 {
    background-image: url(../img/encabezados/encabezado_about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
}

.slider-area3 {
    background-image: url(../img/encabezados/encabezado_que_hacemos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
}

.slider-area4 {
    background-image: url(../img/encabezados/suculentas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
}

.slider-area5 {
    background-image: url(../img/encabezados/huerto\ ecologico.jpg );
    background-repeat: no-repeat;
    background-size: cover;
    background-position:inherit;
}

.slider-area6 {
    background-image: url(../img/encabezados/reforestacion.jpg );
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right
    ;
}